
@media only screen and (max-width: 767px) {
	.views-exposed-form .views-exposed-widget {
	    display: block;
	    width: auto;
	}	
    .page-banner {
        position: relative;
	    background: url(../images/bannerBg.jpg) no-repeat #d89b64;
	    /* min-height: 500px; */
	    background-position: center;
	    background-size: cover;
	    background-color: #333;
	    height: auto;
    }
    .page-banner:before {
        content: '';
        background: #ffffffbf;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        right: 0;
        width: auto;
        height: auto;
    }
    a.name.navbar-brand {
        font-size: 16px;
    }
    .promotion_sec{
        display: none;
    }
    .region-post-content .views-row,
    .region-post-content-bg .views-row {
        margin-bottom: 20px;
    }
}
@media(min-width: 768px) and (max-width:991px){
    .page-banner {
        height: 500px;
    }
    .page-banner:before {
        content: '';
        background: url(../images/c.png) no-repeat center;
        position: absolute;
        left: 156px;
        top: 10%;
        width: 350px;
        height: 350px;
        z-index: 1;
        background-size: contain;
    }
}
@media (min-width: 768px){
    a.name.navbar-brand{
        margin-left: 85px !important;
    }
}
@media only screen and (max-width: 480px) {
     .nav-tabs,
     .nav-tabs li{
        width:100%;
        background:transparent;
    }
    .toggle-control-open span.circlePlus {
	    height: 35px;
	    width: 35px;
	}
	button.navbar-toggle-open {
	    margin-right: 0px;
	}
	.navbar .logo {
	    padding: 0;
	}

	.navbar .logo img {
	    width: 200px;
	}
	.input-group-btn button.btn {
	    padding: 9px 8px;
	}
     .nav-tabs li.active a,
     .nav-tabs li a{
        border-radius:0;
    }
    .footer_full_width .nav li {
	    padding: 5px 6px;
	}
     .nav-tabs li:first-child a{
        border-bottom-left-radius:0;
    }
     .nav-tabs li a{
        margin-bottom:10px;
        border:1px solid lightgray;
    }
     .nav-tabs li.active a:after{
        border:none;
    }
    form.webform-client-form, 
    .node-webform-form {
	    padding: 6px;
	}
	h2.block-title {
    font-size: 28px;}
}




