@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@font-face {
  font-family: 'PROXIMANOVA-BOLD-WEBFONT.TTF';
  src: url('../fonts/PROXIMANOVA-BOLD-WEBFONT.TTF.eot');
  src: url('../fonts/PROXIMANOVA-BOLD-WEBFONT.TTF.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PROXIMANOVA-REGULAR-WEBFONT.TTF';
  src: url('../fonts/PROXIMANOVA-REGULAR-WEBFONT.TTF.eot');
  src: url('../fonts/PROXIMANOVA-REGULAR-WEBFONT.TTF.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PROXIMANOVA-SEMIBOLD-WEBFONT.TTF';
  src: url('../fonts/PROXIMANOVA-SEMIBOLD-WEBFONT.TTF.eot');
  src: url('../fonts/PROXIMANOVA-SEMIBOLD-WEBFONT.TTF.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}







/*  body css start here*/
	body {
		margin: 0;
		padding: 0;
	 	font-size: 14px;
		color:#1a1a1d;
		font-family: 'Roboto', sans-serif;
		position: relative;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	  margin: 10px 0;
	  padding: 0;	  
	  font-weight:bold;	  
	  font-family: 'Raleway', sans-serif;
	}

	p {
	  font-size: 15px;
	}
	
	a{
		color: #dead81;
	    transition: all 0.5s ease;
	}
	a:hover, a:focus {
	    color: #dead81;
	    text-decoration: none;
	    transition: all 0.5s ease;
	}
	.main-container.container {
	    margin: 50px auto;
	}
/*  body css end here*/

/* header css start here */
	.navbar-default {
	    background-color: #1e1e1e;
	    border-color: transparent;
	    margin-bottom: 0;
	    border-radius: 0;
	    min-height: 60px;
	    padding: 10px 0 15px;
	}
	button.navbar-toggle-open {
	    border: 0;
	    background: transparent;
	    padding: 10px;
	    font-size: 20px;
	    color: #fff;
	    margin-right: 20px;
	}
	.sidebar-navber {
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 21;
	    top: 0;
	    left: 0;
	    background-color: #dead81;
	    overflow-x: hidden;
	    transition: 0.5s;
	    padding-top: 50px;
	    text-align: center;
	}
	button.navbar-toggle-close {
	    border: 0;
	    background: transparent;
	}
	.sidebar-navber .navbar-nav {
	    float: none;
	}
	.sidebar-navber .navbar-nav li {
	    float: none;
	    display: block;
	}
	.sidebar-navber .navbar-nav li a {
	    color: #fff;
	    font-size: 18px;
	}
	.sidebar-navber .navbar-nav li a:hover, .sidebar-navber .navbar-nav li a:focus {
	    background: #fff;
	    color: #dead81
	}
	.sidebar-navber .nav .open > a, 
	.sidebar-navber .nav .open > a:hover, 
	.sidebar-navber .nav .open > a:focus {
	    background-color: #fff;
	    border-color: #fff;
	    color: #dead81
	}
	.sidebar-navber .navbar-nav li.active a {
	    background: #fff;
	    color: #dead81;
	}
	.whiteHeader.navbar-default a.name.navbar-brand,
	.whiteHeader button.navbar-toggle-open{
		color: #444
	}
	.sidebar-navber .navbar-nav li .dropdown-menu li a {
	    color: #dead81;
	}
	.sidebar-navber .dropdown-menu {
	    position: relative;
	    top: unset;
	    left: unset;
	    z-index: 1000;
	    float: none;
	    background-color: #fff;
	    border: 0px solid rgba(0, 0, 0, .15);
	    border-radius: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border-top: 1px solid #dead81;
	}
/* header css end here */

/* title css start here */
	h2.block-title {
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: 500;
	    font-size: 40px;
	    margin: 20px 0px 30px;
	    padding: 10px 0;
	    position: relative;
	    color: #dead81;
	    font-weight: bold;
	}
	h2.block-title:after {
	    content: '';
	    width: 120px;
	    height: 3PX;
	    background: #dead81;
	    display: block;
	    position: absolute;
	    bottom: 0;
	    margin: 0px auto;
	    left: 0;
	    right: 0;
	}
	.region-content h2.block-title,
	.parallax_sec  h2.block-title{
	    text-align: left;
	}
	.region-content h2.block-title:after,
	.parallax_sec  h2.block-title:after {
	    margin: 0;
	}
	.region-parallax h2.block-title {
	    text-transform: capitalize;
	}
/* title css end here */

/* list css start here */
	ol {list-style:none; margin:0; padding:0; counter-reset:list;}
	ol li {margin:0 0 7px;padding:0;padding-left: 20px; position: relative;}
	ol li:before {
	    counter-increment:list;
	    content:counter(list, decimal) ". ";
	    color: #dead81;
	    font-weight: bold;
	    position: absolute;
	    left: 0;
	}
	section.parallax_sec ol li:before {
	    color: #ccc;
	}
	.region-sidebar-first ul {
	    padding: 0;
	    list-style: none;
	}

	.region-sidebar-first ul li {
	    position: relative;
	    margin-bottom: 6px;
	    padding-left: 24px;
	}

	.region-sidebar-first ul li:before {
	    content: "\f178";
	    font-family: fontawesome;
	    left: 4px;
	    position: absolute;
	    color: #dead81;
	}
/* list css end here */

/*button css start here*/
	.btn-primary,
	.btn-info,
    .btn-warning{
	  color: #fff;
	  background-color: #c28147;
	  border-color:#c28147;
	}
	.btn-success {
	  color: #fff;
	  background-color: #7fb16c;
	  border-color:#7fb16c;
	}
	.btn-danger{
	  color: #fff;
	  background-color: #f5334e;
	  border-color:#f5334e;
	}
		.btn-primary:active, 
	.btn-primary.active, 
	.open > .dropdown-toggle.btn-primary,
	.btn-primary:active:hover, 
	.btn-primary.active:hover, 
	.open > .dropdown-toggle.btn-primary:hover, 
	.btn-primary:active:focus, 
	.btn-primary.active:focus, 
	.open > .dropdown-toggle.btn-primary:focus, 
	.btn-primary:active.focus, 
	.btn-primary.active.focus, 
	.open > .dropdown-toggle.btn-primary.focus,
	.btn-primary:hover, 
	.btn-primary:focus,
	.btn-info:active:hover, 
	.btn-info.active:hover, 
	.open > .dropdown-toggle.btn-info:hover, 
	.btn-info:active:focus, 
	.btn-info.active:focus, 
	.open > .dropdown-toggle.btn-info:focus, 
	.btn-info:active.focus, 
	.btn-info.active.focus, 
	.open > .dropdown-toggle.btn-info.focus,
	.btn-info:hover, 
	.btn-info:focus,
	.btn-warning:active:hover, 
	.btn-warning.active:hover, 
	.open > .dropdown-toggle.btn-warning:hover, 
	.btn-warning:active:focus, 
	.btn-warning.active:focus, 
	.open > .dropdown-toggle.btn-warning:focus, 
	.btn-warning:active.focus, 
	.btn-warning.active.focus, 
	.open > .dropdown-toggle.btn-warning.focus,
	.btn-warning:hover, 
	.btn-warning:focus{
		background-color: #ba702e;
	    border-color: #ba702e;
	}
	.btn-success:active:hover, 
	.btn-success.active:hover, 
	.open > .dropdown-toggle.btn-success:hover, 
	.btn-success:active:focus, 
	.btn-success.active:focus, 
	.open > .dropdown-toggle.btn-success:focus, 
	.btn-success:active.focus, 
	.btn-success.active.focus, 
	.open > .dropdown-toggle.btn-success.focus,
	.btn-success:hover, 
	.btn-success:focus{
		background-color: #67a34f;
	    border-color: #67a34f;
	}
	.btn-danger:active:hover, 
	.btn-danger.active:hover, 
	.open > .dropdown-toggle.btn-danger:hover, 
	.btn-danger:active:focus, 
	.btn-danger.active:focus, 
	.open > .dropdown-toggle.btn-danger:focus, 
	.btn-danger:active.focus, 
	.btn-danger.active.focus, 
	.open > .dropdown-toggle.btn-danger.focus,
	.btn-danger:hover, 
	.btn-danger:focus
 	{
	    color: #fff;
	    background-color: #f10728;
	    border-color: #f10728;
	}
	.btn {	  
		text-transform: capitalize;
		padding: 10px 30px;
		font-size: 14px;
		border-radius: 0px;
	    font-weight: 700;
	    transition: all 0.5s ease;
	    -webkit-transition: all 0.5s ease;
	    margin-right: 10px;
	}
	.btn:hover,
	.btn:focus{
	  transition: all 0.5s ease;
	  -webkit-transition: all 0.5s ease;
	}
	.btn-link {
    color: #c28147;
}	
/*  button css end here*/

/* form css start here */
	.field-label-above {
	    margin: 10px 0;
	}
	.radio label, .checkbox label {
	    padding-left: 30px;
	}
	.radio, .checkbox {
	    margin-bottom: 20px;
	}
	select.form-control.form-select {
	    -webkit-appearance: none;
	    appearance: none;
	    -webkit-border-radius: 0px;
	    appearance: none;
	    position: relative;
	    line-height: 1;
	    height: 40px;
	}

	.form-type-select:after {
	    content: '\f0dd';
	    font-family: fontawesome;
	    color: #555;
	    position: absolute;
	    right: 7px;
	    bottom: 12px;
	}

	textarea.form-control {
	    height: auto;
	    border: 1px solid #ccc;
	    border-radius: 0px !important;
	}
	.form-type-select {
	    position: relative;
	}
	.form-control {
	    box-shadow: none;
	    height: 40px;
	    -webkit-transition: all ease-in-out .15s;
	    -o-transition: all ease-in-out .15s;
	    transition: all ease-in-out .50s;
	    background: #f5f5f5;
	}
	.form-control:focus {
	    border-color: #dead81;
	    -webkit-transition: all ease-in-out .15s;
	    -o-transition: all ease-in-out .15s;
	    transition: all ease-in-out .50s;
	    outline: 0;
	    box-shadow: none;
	}

	.radio input[type="radio"], 
	.radio-inline input[type="radio"],
	.checkbox input[type="checkbox"], 
	.checkbox-inline input[type="checkbox"] {
	    position: absolute;
	    margin:0;
	    left: 0;
	    width: 0px;
	    height: 0;
	    -webkit-appearance: none;
	}
	input[type=checkbox],
	input[type=radio] {
        position: relative;
	    cursor: pointer;
    }
	input[type=checkbox]:before,
	input[type=radio]:before {
		content: "";
		display: block;
		position: absolute;
		width: 18px;
		height: 18px;
		top: 0;
		left: 0;
		border: 2px solid #444;
		border-radius: 3px;
		background-color: white;
	}
	input[type=radio]:before {
	    border-radius: 30px;

	}
    input[type=checkbox]:checked:after {
		content: "\f00c";
	    position: absolute;
	    top: 3px;
	    left: 3px;
	    color: #dead81;
	    font-family: fontawesome;
	    font-size: 12px;
	}
	input[type=radio]:checked:after {
	    content: "\f111";
	    position: absolute;
	    top: 4px;
	    left: 5px;
	    color: #dead81;
	    font-family: fontawesome;
	    font-size: 10px;
	}
    input[type=radio]:checked:before,
    input[type=checkbox]:checked:before {
	    border: 2px solid #dead81;
	}
	.has-error .form-control {
	    border-color: #a94442;
	    -webkit-box-shadow:none;
	    box-shadow: none;
	}
	.text-summary-wrapper {
	    margin-bottom: 15px;
	}
	form.webform-client-form,
	.node-webform-form {
	    width: 870px;
	    margin: 0px auto 40px;
	    padding: 40px;
	    box-shadow: 0px 0px 10px #ccc;
	    max-width: 100%;
	}
	.webform-container-inline div, .webform-container-inline div.form-item {
	    display: block;
	}
	.webform-conditional-processed .btn {
	    text-transform: uppercase;
	    padding: 6px 12px;
	    font-size: 14px;
	    border-radius: 0;
	    font-weight: 700;
	    margin: auto;
	    transition: all 0.5s ease;
	    -webkit-transition: all 0.5s ease;
	}
	.form-type-radio.webform-container-inline label {
	    margin-left: 20px;
	}
	.form-group:last-child, .panel:last-child {
	    margin-bottom: 0;
	}
	.action {
	    margin: 30px 0;
	}
	:focus{
		outline: none !important;
	}
	.webform-client-form .form-type-radio, 
	.webform-client-form .form-type-checkbox {
	    display: inline-block;
	    margin-right: 20px;
	}
	.webform-client-form .form-actions {
	    text-align: center;
	    margin: 40px 0 20px;
	}

	.webform-client-form  .btn {
	    border-radius: 4px;
	}
	.node-type-webform ul.tabs--primary.nav.nav-tabs li {
	    float: none;
	    display: inline-block;
	}

	.node-type-webform ul.tabs--primary.nav.nav-tabs {
	    width: 870px;
	    margin: 0px auto;
	    max-width: 100%;
	}
	.node-webform span.submitted {
	    display: none;
	}
	.glyphicon-upload:before {
	    content: '';
	    background: url(../images/upload.png) center no-repeat;
	    display: block;
	    height: 15px;
	    width: 15px;
	}
	.region-sidebar-first .form-control {
	    background: #fff;
	}
	.views-exposed-form .form-control {
	    background: #fff;
	    height: 50px !important;
	    border-radius: 4px !important;
	}
	.views-submit-button .btn-info {
	    padding: 14px 0;
	}
	.views-exposed-form {
	    margin-bottom: 30px;
	}
	
	.views-exposed-form .form-type-select:after {
	    bottom: 16px;
	}
	.select2-container .select2-choice {
	    padding: 0 0 0 4px;
	    height: 40px;
	    background: transparent;
	    border-color: #ccc;
	    line-height: 40px;
	    padding-left: 12px;
	}
	.select2-container .select2-choice .select2-arrow {
	    width: 0;
	    border-left: 0px solid #aaa;
	}
	.select2-container {
	    width: 100% !important;
	}
	.select2-container-active .select2-choice, .select2-container-active .select2-choices {
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.views-exposed-form .select2-container .select2-choice {
	    height: 50px;
 		line-height: 50px;
	}
	.popover-title {
	    background-color: #dead81;
	    border-bottom: 0px solid #dead81;
	    color: #fff;
	}
	.popover.bottom > .arrow:after {
	    border-bottom-color: #dead81;
	}
	.popover.bottom > .arrow {
	    top: -9px;    border-bottom-color: #dead81;
	}
	.popover{
		border: 0px;
	}
/* form css end here*/

/* footer css end here*/
	.footer {
	    margin: 0;
	    padding: 0;
	    border-top: 0px solid #E5E5E5;
	}
	.footer a{
		color: #fff;
	}

	footer h2.block-title {
	    font-size: 16px;
	    margin: 10px 0;
	    padding: 0;
	}

	.footer_top {
	    background: #fff;
	    padding: 10px 0 20px;
	    text-align: center;
	}

	.footer_col {
	    background: url(../images/footer-bg.png) no-repeat center #333;
		background-size: cover;
	    color: #fff;
	    padding: 40px 0 20px;
	}

	.footer_col h2.block-title {
	    text-align: left;
	}

	.footer_bottom {
	    background: #000;
	    padding: 10px;
	    text-align: center;
	    color: #fff;
	}

	.footer_bottom a {
	    color: #fff;
	}

	.footer_full_width {
	    text-align: center;
	}

	.footer_full_width .nav li {
	    display: inline-block;
	    padding: 5px 10px;
	    position: relative;
	}
	.footer h2.block-title:after {
	    display: none;
	}

	.footer_full_width h2.block-title {
	    text-align: center;
	}
	.region-footer-top h2.block-title:after {
	    display: block;
	}

	.region-footer-top h2.block-title {
	    font-size: 30px;
	    padding: 10px 0;
	    margin-bottom: 15px;
	    text-transform: capitalize;
	}
	ul.social_list {
	    padding: 0;
	    margin: 0;
	    list-style: none;
	}

	ul.social_list li {
	    display: inline-block;
	    margin: 10px 5px;
	}

	.footer_full_width .nav li:after {
	    content: '';
	    position: absolute;
	    width: 1px;
	    height: 15px;
	    display: block;
	    background: #fff;
	    right: 0;
	    top: 17px;
	}

	.footer_full_width .nav li:last-child:after {
	    display: none;
	}
/* footer css end here*/

/*  table css start here*/
	.table thead, .table thead .active {
	    background: #c28147 !important;
	    color: #fff;
	}
	.table > thead > tr > th, .table > thead > tr > td {
	    border-bottom-width:1px;
	}
	.table > thead > tr > th, 
	.table > tbody > tr > th, 
	.table > tfoot > tr > th, 
	.table > thead > tr > td, 
	.table > tbody > tr > td, 
	.table > tfoot > tr > td {
	    vertical-align: middle;
	}
	tr .views-field-delete-node a {
	    font-size: 0;
	}

	tr .views-field-delete-node a:after {
	    content: '\f1f8';
	    font-family: fontawesome;
	    font-size: 19px;
	    color: #828282;
	}
	.page-node-delete .region-content {
	    width: 700px;
	    margin: 0px auto;
	    text-align: center;
	    padding: 40px;
	    box-shadow: 0px 0px 10px #444;
	    font-size: 22px;
	    max-width: 100%;
	}
	.table thead th a {
	    color: #fff;
	}
	.table .form-control.form-text {
	    width: auto;
	}
	.views-table {
		font-family: 'ProximaNova-Regular';
	}
	.table a, .table span.date-display-single {
	    color: #333;
	    font-weight: normal;
	}
/*  table css end here*/

/*  accordion css start here*/
	.ui-accordion{
		font-family: 'ProximaNova-Regular';
	}
	.ui-accordion .ui-accordion-header {
	    padding: 10px;
	    font-size: 16px;
	    font-weight: bold;
	    transition: 0.5s all ease;
	    font-family: 'ProximaNova-Bold';
	}
	.ui-accordion .ui-accordion-header {
	    padding: 10px;
	    font-size: 16px;
	    font-weight: bold;
	    transition: 0.5s all ease;
	}
	.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	    border-top-left-radius: 0px;
	}
    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	    border-top-right-radius: 0px;
	}
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    	border-bottom-right-radius: 0px;
	}

	.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	    border-bottom-left-radius: 0px;
	}
    .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	    display: none;
	}
	.ui-state-default a:after,
	a.accordion-toggle.collapsed:after {
		/*content: '\f067';
		font-family:fontawesome;
	    position: absolute;
	    right: 20px;*/
	     content: '';
	    background: url(../images/plus.png);
	    display: block;
	    position: absolute;
	    width: 12px;
	    right: 20px;
	    height: 12px;
	    top: 18px;
	}
	.ui-state-active a:after,
	a.accordion-toggle:after{
		/*content: '\f068';
		font-family:fontawesome;
		position: absolute;
	    right: 20px;*/
	    content: '';
    	background: url(../images/minus.png) no-repeat center;
	    display: block;
	    position: absolute;
	    width: 12px;
	    right: 20px;
	    height: 2px;
	    top: 20px;
	}
     .panel-title > a{
     	display: block;     	
		font-family: 'Raleway', sans-serif;
     }

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	    border: 1px solid #d3d3d3;
	    background: transparent;
	    font-weight: 400;
	    color: #555;	    
		font-family: 'Raleway', sans-serif;
	}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .panel-heading.active {
	    border: 1px solid #ccc;
	    background: transparent;
	    font-weight: 400;
	    color: #dead81;
	    border-bottom: 0px;
	}
	.ui-accordion .views-row.views-row-odd .views-field-title.ui-state-active:after, 
	.ui-accordion .views-row.views-row-even .views-field-title.ui-state-active:after {
	    content: '';
	    height: 1px;
	    width: 100%;
	    margin: 0px auto;
	    background: #ccc;
	    display: block;
	    margin-top: 6px;
	}
	.ui-state-active a,
	.panel-heading.active a{
	    color: #dead81 !important;
	    text-decoration: none;
	}
	.ui-accordion .views-row {
	    margin-bottom: 20px;
	}
	 .panel-group .panel {
	    border-radius: 0;
	    margin-bottom: 20px;
	}
	.panel-group .panel-default > .panel-heading {
	    color: #555;
	    background-color: transparent;
	    border-color: #573bdb;
	    padding: 10px;
	    border-radius: 0px !important;position: relative;
	}
	.panel-group .panel-default > .panel-heading h4 {
	    margin: 0;
	}
    .ui-accordion .views-row.views-row-odd .views-field-title, 
	.ui-accordion .views-row.views-row-even .views-field-title {
	    margin: 0;	    
		font-family: 'ProximaNova-Bold';
	}
	.ui-accordion .views-row .views-field-body{
		max-height: unset;
	}

/*  accordion css end here*/

/*  comment css start here*/
	.comment-wrapper {
	    border: 1px solid #ccc;
	    padding: 20px;
	}
	.comment-wrapper h2.title {
	    font-size: 18px;
	    margin-bottom: 20px;
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 10px;
	    color: #444;
	}
	.comment {
	    border-bottom: 1px solid #ccc;
	    margin-bottom: 10px;
	    position: relative;
	    padding-left: 90px;
	}

	.comment h3 a {
	    color: #333;
	    font-size: 16px;
	    margin: 0px;
	}

	.comment h3 {
	    margin: 0;
	    text-transform: capitalize;
	}
	.comment span.new {
	    color: #fff;
	    font-weight: bold;
	    font-size: 12px;
	    padding: 2px 6px;
	    display: inline-block;
	    background: #ffb953;
	}
	.comment  ul.links.list-inline {
	    text-align: right;
	    font-size: 0;
	    margin-top: 12px;
	}

	li.comment-delete a:after {
	    content: '\f1f8';
	    font-family: fontawesome;
	    font-size: 16px;
	}

	li.comment-edit a:before {
	    content: '\f044';
	    font-family: fontawesome;
	    font-size: 16px;
	}

	li.comment-reply a:before {
	    content: "\f112";
	    font-family: fontawesome;
	    font-size: 16px;
	}

	.comment ul.links.list-inline li a {
	    color: #333;
	}
	.comment-wrapper .grippie,
	.comment-wrapper .filter-wrapper{
	    display: none;
	}
	.comment-user-img {
	    position: absolute;
	    width: 70px;
	    height: 70px;
	    border-radius: 50%;
	    overflow: hidden;
	    margin-right: 20px;
	    left: 0;
	}
/*  comment css end here*/

/*  banner css start here*/
	.page-banner {
	    position: relative;
	    text-align: center;
	    min-height: 300px;
	    background: url(../images/pet-banner.png) center no-repeat;
	    background-size: cover;
	    padding: 40px;
	    color: #fff;
	}
	.page-banner-inner {
	    background: url(../images/petHeaderbg.png) center no-repeat;
	    padding: 20px 0;
	    text-align: center;
	    min-height: 120px;
	    background-size: cover;
	}
	.confirmation .form-actions {
	    margin: 40px 0;
	}
	.searchBox .input-group .form-control {
	    border: 0px solid #ccc;
	    border-radius: 0;
	    padding-left: 17px;
	    background: transparent;
	    border-bottom: 1px solid #ccc;
	}
	.searchBox {
	    width: 700px;
	    margin: 40px auto;
	    max-width: 100%;
	    position: absolute;
	    top: 42%;
	    left: 10%;
	}

	.searchBox .input-group-btn button.btn {
	    background: transparent;
	    border-color: transparent;
	    box-shadow: none;
	    border-bottom: 1px solid #ccc;
	    border-radius: 0px;
	}
/*  banner css end here*/

/*tab  css start here*/
	.nav-tabs{
	    border-bottom:0 none;
	    border-radius: 0 20px 0 20px;
	}
	 .nav-tabs li a{
	    background: transparent;
	    font-size: 16px;
	    border: none;
	    color: #444;
	    padding: 8px 20px;
	    font-weight: 500;
	    background: #dfdfdf;
	    border-radius: 4px 4px 0 0;
	}
	 .nav-tabs li a i{
	    margin-right:10px;
	    color:#dead81;	    
	}
	 .nav-tabs li.active a,
	 .nav-tabs li.active a i{
	    background:#444;
	    color:#fff;
	}
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
	    color: #fff;
	    cursor: default;
	    background-color: #dead81;
	    border: 0px solid #ddd;
	    border-bottom-color: transparent;	    
	}
	.tabs-left>.nav-tabs>.active .summary{
		color: #fff;
	}
	.tabs-left>.nav-tabs>li.active a:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #dead81;
    border-width: 7px;
    margin-top: -7px;
}
	.nav > li > a:hover, .nav > li > a:focus {
	    text-decoration: none;
	    background-color: transparent;
	}


		.tab-pane.active {
	    animation: slide-down 1s ease-out;
	}

	@keyframes slide-down {
	    0% { opacity: 0; transform: translateY(100%); }
	    100% { opacity: 1; transform: translateY(0); }
	}
	.nav-tabs > li > a:hover,
	.nav-tabs > li > a:focus {
	    border-color: #eee #eee #ddd;
	    background-color: #dfdfdf;
	}
/*tab  css end here*/

/*pagination  css start here*/
	.pagination > .active > a, 
	.pagination > .active > span,
	.pagination > .active > a:hover, 
	.pagination > .active > span:hover, 
	.pagination > .active > a:focus, 
	.pagination > .active > span:focus {
	    z-index: 3;
	    color: #fff;
	    cursor: default;
	    background-color: #5094f2;
	    border-color: #5094f2;
	}
/*pagination  css end here*/

/*  search css start here*/
	.input-group-btn button.btn {
	    margin: 0px;
	    padding: 9px 30px;
	    background: #828282;
	    border-color: #828282;
	}
	.input-group-btn button.btn:after {
		display: none;
	}
	.input-group .form-control {
	    border: 1px solid #ccc;
	    border-radius: 0px;
	    padding-left: 17px;
	    height: auto;
	    line-height: 27px;
	}
	ol.search-results {
	    width: 800px;
	    margin: 40px auto;
	    padding: 40px;
	    box-shadow: 0px 0px 20px #ccc;
	    max-width: 100%;
	}

	li.search-result {
	    padding-bottom: 20px;
	    margin-bottom: 20px;
	    border-bottom: 1px solid #ccc;
	}

	ol.search-results h3.title {
	    font-size: 18px;
	    margin-bottom: 10px;
	}
	.search-advanced.panel-default > .panel-heading {
	    color: #ffff;
	    background-color: #dead81;
	    border-color: #dead81;
	}
	.search-advanced {
	    margin-bottom: 20px !important;
	}
	.pagination > li > a, .pagination > li > span {
	    color: #dead81;
	}
	.pagination > .active > a, 
	.pagination > .active > span, 
	.pagination > .active > a:hover, 
	.pagination > .active > span:hover,
	 .pagination > .active > a:focus, 
	 .pagination > .active > span:focus {
	    background-color: #dead81;
	    border-color: #dead81;
	}

	.region-sidebar-first h2,
	.region-sidebar-second h2 {
	    padding: 0;
	    font-size: 28px;
	    margin: 15px 0;
	}
	.region-sidebar-first h2.block-title:after, .region-sidebar-second h2.block-title:after {
	    display:none
	}
	h1.banner-title {
	    color: #fff;
	    position: relative;
	}
/*search block css end here*/

/*error page  css start here*/
	.error_page {
	    text-align: center;
	    margin: 60px 0;
	}

	.error_page h1 {
	    font-size: 90px;
	    font-weight: bold;
	    color: #dead81;
	}

	.error_page h5 {
	    font-size: 40px;
	    font-weight: 500;
	    text-transform: uppercase;
	}

	.error_page p {
	    font-size: 12px;
	}

	.back_btn {
	    background: #dead81;
	    color: #fff;
	    border: #dead81;
	    padding: 9px 20px;
	    margin-top: 20px;
	    display: inline-block;
	}
	.back_btn:hover, .back_btn:focus {
	    color: #fff;
	    text-decoration: none;
	}
	div#logo-title {
	    padding: 20px 0px;
	    text-align: center;
	}
	.maintenance_page {
	    text-align: center;
	    margin: 40px 4px;
	}

	.maintenance_page h1 {
	    color: #dead81;
	    font-size: 40px;
	    text-transform: uppercase;
	}
/*error page  css end here*/

/*  breadcrumb css start here*/
	.breadcrumb {
	    margin: 0;
	    background-color: transparent;
	}
	.breadcrumb > li a{
		    color: #fff;
	}
	.breadcrumb > li:before{
		content: '';
	}
	.breadcrumb > li {
	    padding: 0px;
	}
	.breadcrumb > li + li:before {
	    color: #fff;
	    padding: 0 5px;
	    content: "/\00a0";
	    left: unset;
	    position: static;
	}
	.breadcrumb > .active {
		color: #fff;
		font-weight: bold;
	}
/*  breadcrumb css end here*/

/*  view css start  here*/
	.views-row.views-row-odd .views-field-title, .views-row.views-row-even .views-field-title {
	    display: block;
	    padding-top: 10px;
	    font-size: 18px;
	    font-weight: bold;
	    color: #333;
	    text-transform: capitalize;
	}

	.views-row.views-row-odd .views-field-title a, 
	.views-row.views-row-even .views-field-title a {
	    color: #444;
    	text-transform: capitalize;
    	letter-spacing: 1px;
	}

	.views-row.views-row-odd .views-field-title a:hover, .views-row.views-row-even .views-field-title a:hover {
	    color: #dead81;
	}
	span.date-display-single {
	    font-size: 14px;
	    display: block;
	    color: #dead81;
	    font-weight: bold;
	}
	.read-more-text{
		max-height: 50px;
	}
	a[data-readmore-toggle] {
	    font-weight: 500;
	    text-transform: uppercase;
	}
	a[data-readmore-toggle]:after {
	    content: '\f0da';
	    font-family: fontawesome;
	    margin-left: 6px;
	}
/*  view css end  here*/

/*  filter css start here*/
	 .views-exposed-form .views-exposed-widget {
	    float: none;
	    padding: .5em 1em 0 0;
	    display: table-cell;
	    width: 1%;
	    vertical-align: middle;
		}
		.views-exposed-widget button.btn {
		    display: block;
		    width: 100%;
		}
		.webform-container-inline div, .webform-container-inline div.form-item {
		    display: block;
		}
		.container-inline-date .date-padding {
		    float: none;
		}
		.container-inline-date .form-item, .container-inline-date .form-item input {
		    width: 100%;
		}
/*  filter css end here*/


/*  region css start here*/
	.parallax_sec {
	    background: url(../images/black-bg.png) center no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	    color: #ccc;
	    padding: 20px 0px 40px;
	}		
	/*.promotion_sec {
	    background: url(../images/promotion.png) center no-repeat;
	    background-size: cover;
	    height: 100px;
	    position: relative;
	}*/
	.overlayer {
	    background: #3333339e;
	    position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    right: 0;
	}
	blockquote p {
	    font-size: 24px;
	}
	blockquote {
	    padding: 10px 20px;
	    margin: 0 0 20px;
	    font-size: 20px;
	    border-left: 0;
	    font-family: 'Raleway', sans-serif;
	}
/*  region css end here*/

/*promotion css start here*/
	.content_highlight {
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 13;
	    position: absolute;
	    background: url(../images/black-bg.png) center no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	    border-bottom: 1px solid #ccc;
	    display: none;
	    padding: 20px 0 80px;
	}
	.toggle-control {
	    width: 100%;
	    position: relative;
	    z-index: 13;
	}
	.toggle-control .glyphicon {
	    color: #fff;
	    position: absolute;
	    top: 14px;
    	right: 7px;
	    display: block;
	    padding: 18px 19px;
	    line-height: 14px;
	    cursor: pointer;
	    height: 52px;
	    background: #dead81;
	}
	.toggle-control-close span{
		color: #fff;
	    position: absolute;
	    top: unset;
	    right: 0;
	    display: block;
	    padding: 18px 19px;
	    line-height: 14px;
	    cursor: pointer;
	    height: 52px;
	    background: #000;
	    bottom: 0;
	}
	.toggle-control-open span.circlePlus{
	    background: url(../images/circle-plus.png) center no-repeat;
	    border-radius: 50%;
	    background-size: cover;
	    height: 50px;
	    width: 50px;
	}
	.content_highlight.wrapper-box a {
	    color: #333 !important;
	}
/*promotion css end here*/


/* owl-slider css start here */
	.owl-theme .owl-controls {
	    margin-top: 0;
	    text-align: center;
	}
	.owl-theme .owl-controls .owl-page span {
	    background: #dead81;
	}
	.owl-pagination {
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}
/* owl-slider css end here */

/*region-post-content css start here*/
	.region-post-content a[data-readmore-toggle] {
	    font-weight: 500;
	    text-transform: uppercase;
	    background: #fff;
	    display: block;
	    padding: 10px 15px;
	    box-shadow: 0 4px 2px -2px #aaa;
	}
	.region-post-content .views-field {
	    background: #fff;
	    padding: 0px 15px;
	}
	.region-post-content .views-field:first-child {
	    padding: 0px;
	}
	.region-post-content span.date-display-single {
	    color: #333;
	    font-weight: normal;
	    padding-bottom: 15px;
	}
	.region-post-content h2.block-title {
	    text-transform: capitalize;
	}
	.content_without_bg {
	    background: #fafafa;
	    padding: 20px 0 80px;
	}
	.region-post-content .views-field.views-field-body {
	    min-height: 100px;
	    box-shadow: 0px 20px 20px -14px #ccc;
	}
/*region-post-content css end here*/

/*region-post-content-bg css start here*/	
	.content_with_bg {
		background: url(../images/blog-bg.png) no-repeat center #333;
		background-size: cover;
		padding: 20px 0 80px;
		color: #929ba0;
	}
	.region-post-content-bg a[data-readmore-toggle] {
	    font-weight: 500;
	    text-transform: uppercase;
	    background: #fff;
	    display: block;
	    padding: 10px 15px;
	    box-shadow: 0 4px 2px -2px #aaa;
	}
	.region-post-content-bg .views-field {
	    background: #fff;
	    padding: 0px 15px;
	}
	.region-post-content-bg .views-field:first-child {
	    padding: 0px;
	}
	.region-post-content-bg span.date-display-single {
	    color: #333;
	    font-weight: normal;
	    padding-bottom: 15px;
	    position: relative;
	}
	.region-post-content-bg .views-field.views-field-body {
	    min-height: 90px;
	}
	.region-post-content-bg h2.block-title {
	    text-transform: capitalize;
	}
	.region-post-content-bg h2.block-title:after {
	    width: 65px;
	}
	.region-post-content h2.block-title {
	    text-transform: capitalize;
	}
	.region-post-content-bg span.date-display-single:after {
	    content: '';
	    width: 50px;
	    height: 2px;
	    background: #dead81;
	    display: block;
	    margin-top: 3px;
	}
/*region-post-content-bg css end here*/


/*login css end here*/

	.page-user-register .region-content,
	.page-user-password .region-content,
	.page-user-login .region-content {
	    width: 700px;
	    margin: 40px auto;
	    padding: 40px;
	    box-shadow: 1px 1px 10px  #ccc;
	}
	.page-user-register .nav-tabs,
	.page-user-password .nav-tabs,
	.page-user-login .nav-tabs {
	   text-align: center;
	}

	.page-user-register .nav-tabs li,
	.page-user-password .nav-tabs li,
	.page-user-login .nav-tabs li{
	    float: none;
	    display: inline-block;
	}
/*login css end here*/

/*ellip css end here*/

	.ellip {
	  display: block;
	  height: 100%;
	}

	.ellip-line {
	  display: inline-block;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  word-wrap: normal;
	}

	.ellip,
	.ellip-line {
	  position: relative;
	  overflow: hidden;
	  max-width: 100%;
	}
/*ellip css end here*/

/* alert css start here */
	.alert {
	    border-radius: 0;
	    position: relative;
	    padding: 10px 15px;
	    padding-left: 45px;
	}
	.alert-danger {
	    color: #c10000;
	    background-color: #ffdedf;
	    border-color: #ffdedf;
	}
	.alert-success {
	    color: #456001;
	    background-color: #e0edc1;
	    border-color: #e0edc1;
	}
	.alert-warning {
	    color: #cc6808;
	    background-color: #fef6df;
	    border-color: #fef6df;
	}
	.alert:before {
	    content: '\f06a';
	    font-family: fontawesome;
	    font-size: 19px;
	    position: absolute;
	    left: 11px;
	    top: 7px;
	}
	.alert-warning:before {
	    content: '\f06a';
	}

	.alert-success:before {
	    content: '\f00c';
	}

	.alert-danger:before {
	    content: '\f00d';
	}
	.alert-dismissable .close, .alert-dismissible .close {
	    right: 0px;
	}
/* alert css end here */

/*  tooltip css start here*/

	 .tooltip.tooltip.bottom .tooltip-arrow, 
	 .tooltip.tooltip.bottom-left .tooltip-arrow,
	 .tooltip.tooltip.bottom-right .tooltip-arrow{border-bottom-color: #c28147;}
	 .tooltip.top .tooltip-arrow {border-top-color: #c28147;}
	 .tooltip.left .tooltip-arrow {border-left-color:#c28147;}
	 .tooltip.right .tooltip-arrow {border-right-color:#c28147;}
	 .tooltip > .tooltip-inner{background-color:#c28147;}
/*  tooltip css end here*/
.highlight{
	color: #dead81;
}
form.form-search .input-group-btn button.btn {
    background: #dead81;
    border-color: #dead81;
}

/* calendar css start here*/
	#ui-datepicker-div {
	    font-size: 100%;
	    font-family:'Barlow-Regular';
	    background: #fff;
	    color: #c28147;
	    border: 1px solid #4d4d4d;
	    padding: 5px;
	}
	.ui-datepicker .ui-datepicker-header {
	    position: relative;
	    padding: 3px;
	    background: #c28147;
	    border: 0;
	}
	.ui-datepicker table {
	    background: #fff;
	    padding: 0;
	    margin: 0;
	    border: 0;
	}
    .ui-datepicker td span, .ui-datepicker td a {
	    border-color: #666!important;
	    color: #666 !important;
	    text-align: center;
	}
	.ui-datepicker-calendar a.ui-state-active {
	    background: #666;
	    border-radius: 0px !important;
	    color: #fff !important;
	}
	.ui-datepicker .ui-datepicker-title select {
    	font-family: 'Barlow-Regular';
	}
    .ui-datepicker-today a.ui-state-default.ui-state-highlight {
	        background: #c28147;
    color: #fff !important;
    border-color: #c28147 !important;
	}
/* calendar css end here*/